<h1>이메일 보내는 공간입니다</h1>
<form action="/mailed" method="post">
  <div class="form-group" >
    <label for="exampleInputEmail1" style="margin-top:20px">이메일 주소</label>
    <input name="wnth" type="email" class="form-control" id="exampleInputEmail1" placeholder="주소 쓰십쇼">
  </div>
  <input name="wpahr" type="text" class="form-control" placeholder="제목" style="margin-top:20px">
  <label for="exampleInputtext" style="margin-top:20px">이메일 내용</label>
  <textarea name="sodyd" class="form-control" rows="3" placeholder="내용쓰십쇼">
  </textarea>
  <div class="form-group">
   
  <button type="submit" class="btn btn-default" style="margin-top:20px">Submit</button>
</form>